[Unit]
Description=Hello API

[Service]
Type=simple
ExecStart=/home/ubuntu/bin/hello-api
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
